*{
    box-sizing: border-box;
}

body{
background-color: black;
color:white;
font-family: 'Encode Sans Expanded', sans-serif;
min-height: 150vh;
}

hr{
    border-width: 3px;
}

.contentBox{
    background-color: white;
    color: black;
    font-family: 'Questrial', sans-serif;
    min-height: 30vw;
    border-width: 2px!important;
    border-radius: 16px;
}

.passwordBox {
    border-style: dashed!important;
    border-width: 3px!important;
    min-height: 150px!important;
    font-family: 'Cousine', monospace;
    min-height: 25vw;   
    width:100%; 
}

#passwordResult{
    width:100%;
    text-align: center;
    border: none;
}

.btn{
    font-size: 2rem;
    border-radius: 16px;
    padding-top: 3vh!important;
    padding-bottom: 3vh!important;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width:100%;
    height: 20vh;

}

@media screen and (min-width: 200px) {
    .contentBox{
        max-width : 90%;
        text-align: center;
    }
    h1{
        font-size: 6vw;
    }
    h2{
        font-size: 6vw;
    }
    .passwordBox {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 600px) {
    .contentBox{
        max-width : 100%
        t
    }
    h1{
        font-size: 6.8vw;
    }
    h2{
        font-size: 5vw;
    }
    .passwordBox {
        font-size: 3vw;
    }
}

@media screen and (min-width: 768px) {
    .contentBox{
        max-width : 100%
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
    }
    .passwordBox {
        font-size: 2rem;
    }

}